<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <title>Demo Chart Trading View </title>
    <link rel="stylesheet" href="/lib/bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <script type="text/javascript" src="/charting_library/charting_library.standalone.js"></script>
    <script type="text/javascript" src="/datafeeds/udf/dist/bundle.js"></script>
    <script src="/lib/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/chartScript.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <p class="h2 text-center">Demo Chart Trading View Data From Binance</p>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div id="tv_chart_container"></div>
            </div>
            <div class="col-6 col-md-3 border border-primary">
                <div class="input-group mb-3 mt-5">
                    <span class="input-group-text" id="inputGroup-sizing-default">Demo</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Demo</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Demo</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default">
                </div>
                <button class="btn btn-primary">Order</button>
            </div>
        </div>
      
    </div>
</body>

</html>